name: Build Docker Image and push DockerHub

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:


    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'BUILD_CONTAINER_IMAGE')"


    steps:
    - uses: actions/checkout@v3
    - name: Docker Login
      env:
        DOCKER_USER: ${{secrets.DOCKER_USER}}
        DOCKER_PASSWORD: ${{secrets.DOCKER_PASSWORD}}
      run: |
        docker login -u $DOCKER_USER -p $DOCKER_PASSWORD

    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag my-image-name:$(date +%s)

    - name: Docker Push 
      run: docker push ${{secrets.DOCKER_USER}}/targaryen1199/go_image232:latest

